* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
  background-color: #00a8e6;
  border-radius: 5px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #11aeef;
}
header img {
  margin-left: 20px;
  padding: 5px;
  width: 200px;
}
.down {
  margin: 0 50px;
  background-color: #fff;
  color: #010a05;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.6s ease;
}
.down:hover {
  color: #fff;
  background-color: #010a05;
}
.sign {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 50px;
}
.git {
  display: flex;
  flex-wrap: wrap;
  background-color: #11aeef;
}
.git img {
  width: 50%;
}
.git .container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 40px;
  color: #010a05;
  margin-bottom: 20px;
}
.git .container p {
  font-size: 20px;
  color: #333;
}
.img-2 {
  max-width: 100%;
  height: 70%;
}
.git button {
  background-color: transparent;
  border: #fff solid 5px;
  color: #010a05;
  margin: 20px auto;
  padding: 13px 0px;
  width: 15%;
  text-align: center;
  text-transform: capitalize;
  transition: ease-in all 0.5s;
  border-radius: 40px;
  font-size: 20px;
}
.git button:hover {
  color: #fff;
  background-color: #010a05;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fafafa;
}
.about img {
  width: 40%;
}
.about .container {
  width: 55%;
}
h2 {
  font-size: 50px;
  color: #382d3c;
  line-height: 55px;
}
h2 span {
  color: #0eadef;
}
.about p {
  color: #010a05;
  font-size: 20px;
  line-height: 2;
}
.about button {
  width: 15%;
  padding: 18px;
  margin: 50px auto;
  background-color: transparent;
  color: #010a05;
  border: #00aeef solid 5px;
  border-radius: 40px;
  text-transform: capitalize;
  font-size: 20px;
  transition: ease-in all 0.5s;
}
.about button:hover {
  color: #fff;
  background-color: #00aeef;
}
.why {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  color: #010a05;
}
.why span {
  color: #00aeef;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/6.jpg);
}
.main ul {
  width: 50%;
  list-style: none;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.con {
  width: 50%;
  background-color: #fafafa;
  text-align: center;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 35px;
}
h3 {
  color: #00aeef;
}
.con p {
  color: #010a05;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h4 {
  text-align: center;
  font-size: 50px;
  color: #382d3c;
  line-height: 55px;
  margin: 20px;
}
h4 span {
  color: #00aeef;
}
.work p {
  width: 40%;
  text-align: center;
  color: #010a05;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  padding-bottom: 50px;
  margin: 20px;
}
.work img{
  width: 50%;
}
.work button {
  width: 20%;
  margin: 20px;
  padding: 13px 0px;
  font-size: 20px;
  background-color: transparent;
  color: #010a05 !important;
  border: #00aeef solid 5px;
  text-align: center;
  transition: ease-in all 0.5s;
  border-radius: 40px;
  text-transform: capitalize;
}
.work button:hover {
  background-color: #00aeef;
  color: #fff;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00aeef;
}
footer form,
footer form input {
  width: 80%;
  margin: 10px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
}
textarea {
  width: 52%;
  height: 100px;
  padding: 20px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
}
footer button {
  width: 15%;
  padding: 15px;
  background-color: #fff;
  color: #000;
  text-transform: capitalize;
  font-size: 17px;
  border-radius: 15px;
  outline: none;
  border-style: none;
  transition: ease-in all 0.5s;
}
footer button:hover {
  background-color: #010a05;
  color: #fff;
}
.copyright {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #010a05;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bold;
}
.copyright span {
  color: #00aeef;
}
@media screen and (max-width: 550px) {
  header img {
    width: 200px;
  }
  header nav .down {
    display: none;
  }
  .git {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .git img {
    width: 90%;
  }
  .git button {
    width: 50%;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about img {
    width: 100%;
  }
  .about h2 {
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
  }
  .about .container {
    width: 100%;
  }
  .about p {
    font-size: 15px;
    text-align: center;
  }
  .about button {
    width: 50%;
  }
  .why{
    font-size: 30px;
  }
  .main {
    margin-top: 20px;
    flex-direction: column;
  }
  .main ul {
    width: 100%;
    margin: 50px 0;
    line-height: 3;
  }
  .main .con {
    width: 90%;
    margin: 10px auto 50px;
  }
  .work{
    flex-direction: column;
  }
  h4{
    font-size: 35px;
  }
  .work p{
    width: 90%;
  }
  .work button{
    width: 40%;
  }
  .work img{
    width: 90%;
  }
  textarea{
    width: 100%;
  }
  footer button{
    width: 30%;
  }
}
